-# coding: UTF-8

%div.row
  %div.leaderboard
    %h1 Ruby Kickstart 
    %p
      Bu bölümde Josh Cheek'in 
      %a(href="https://github.com/JoshCheek/ruby-kickstart" target="_blank") Ruby-Kickstart
      çalışmasından tercüme ettiğimiz belgeleri bulabilirsiniz.

%br

%div.row
  %div.span4
    %h2
      %a.btn.btn-info.btn-large(href="/kickstart_cheatsheets") Kılavuzlar	
  %div.span4
    %h2
      %a.btn.btn-info.btn-large(href="/kickstart_session1") Öğreti-1	
  %div.span4
    %h2
      %a.btn.btn-danger.btn-large(href="/kickstart_session2") Öğreti-2
%br
%br
%div.row
  %div.span4
    %h2
      %a.btn.btn-danger.btn-large(href="/kickstart_session3") Öğreti-3
  %div.span4
    %h2
      %a.btn.btn-danger.btn-large(href="/kickstart_session4") Öğreti-4
  %div.span4
    %h2
      %a.btn.btn-danger.btn-large(href="/kickstart_session5") Öğreti-5


%hr

#disqus_thread
%script(type="text/javascript" async="true" src="http://ruby-tr.disqus.com/embed.js")
  
<noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
<a href="http://disqus.com" class="dsq-brlink">comments powered by <span class="logo-disqus">Disqus</span></a>
