-# coding: UTF-8

%script
  document.title = "Ruby Türkiye - Kickstart - rubygems"

%div.row
  %div.leaderboard
    %h1 Ruby GEM Klavuzu 
    %h4 
      Orjinali : 
      %a(href="https://github.com/JoshCheek/ruby-kickstart/blob/master/cheatsheets/rubygems.rb" target="_blank") Ruby-Kickstart
    %h4 Çeviren : Ümit Kayacık

%br

%div.row
  %div.span12
    %h4.sag rubygems.rb
    
    :coderay
      #!Ruby
      # =====  Gemler Nedir?  =====
      # Ruby'de sonradan eklenen kütüphanelere gem denir
      # rubygems.org adresinde Ruby'nin birçok gem'inin listesini bulabilirsiniz
      
      
      # =====  Nasıl Kurulurlar  =====
      # Bu adresde aradığınız gemi bulun , mesela BlueCloth, bu gem kurallı bir düz yazıyı html formata dönüştürür
      # http://rubygems.org/gems/bluecloth
      # orada nasıl kurulacağına dair bilgi vardır
      # $ gem install bluecloth
      #
      
      
      # =====  Kurduktan Sonra Ne Olur?  =====
      # Bir gem kurduğunuzda tüm bağımlılıkları da kurulacaktır
      # Bu sayede Sinatra kuruduğunuzda Rack da kurulacaktır
      # BlueCloth gem'in herhangibir bağımlılığı yoktur 
      
      # Ayrıca derlenmesi gereken bir dilde yazılmış kodları da derler (C ile yazılan kodlar)
      # Bu sayede BlueCloth'un ihtiyaç duyduğu bazı kütüphaneler de sisteminiz için derlenir
      # Ayrıca ri ve rdoc olarak ilgili dökümanlar da derlenir
      # ri dökümanı kullanmak için komut satırında "$ ri topic", yazın mesela "$ ri String"
      # rdoc kullanmak için , kendi dökümantasyon server uygulamanızı yükleyebilirsiniz


      # =====  Dökümantasyon  =====
      # dökümantasyon server'inizi yüklemek için
      # $ gem server
      #
      # yerel portlardan birine yerleşecektir, mesela 8808
      # http://localhost:8808 adresine gidin
      # İlgilendiğiniz gem'i seçin, dökümana ulaşın


      # =====  Nasıl Kullanılacağı Hakkında Daha Başka Bilgi Bulmak İçin  =====
      # Ben bir kısım yararlı kaynak buldum, bir tanesi dökümanlar
      #
      # Bir metodun nasıl çalıştığı konusunda kaynak koduna bakmak da
      # çok faydalı olabilir, ne de olsa kodları açık
      #
      # Bunları bulmak için gemlerin konduğu klasöre gitmelisiniz, bunun için
      # $ gem environment
      # 
      # Eğer gem-open isimli gem yüklüyse ("$ gem install gem-open"), direk olarak "$ gem open gemname" yazın
      # 
      # Eğer hızlı bir bakış atmak isterseniz, yayınlandığı yere gidebilirsiniz (büyük ihtimal github)
      # Eğer denemeler yapmak isterseniz kaynak kodunu git clone ile bilgisayarınıza indirebilirsiniz
      # Sonra da gemlerinizi etkilemeden denemeler yapabilirsiniz.
      #
      # Bir diğer faydalı olacak örnek de google ve bloklar arkadaşınız olabilir :)
      # Oralarda sıklıkla örnek kodlar da bulabilirsiniz
      #
      # Yazarların test ederken nelere vakit harcadığı size neler beklentisi ile yapıldığı bilgisi verebilir
      # ve sağlıklı çalışmasından emin olmak için hangi özelliklerin daha çok zaman aldığı vs.
      # Testler ya /spec ya da /test klasöründe bulunabilir.
      #
      # Örneğin BlueCloth anasayfasına bakınca faydalı birşey göremiyorum.
      # Gem server'i yükledim ve "ön bilgi" kısmını bulamadım
      # spec/bluecloth_spec.rb programında şunu gördüm
      # it "allows output to be rendered several times" do
      #   bc = BlueCloth.new( "Some text" )
      #   bc.to_html.should == bc.to_html
      # end
      #
      # Oh, burdan anladım ki formata göre yazımı yazıp to_html metodunu çağıracağım (aşağıda yapıyorum)


      # =====  Gemleri Kulllanmak  =====
      # Gemler Ruby dosyalarınıza çağırılabilirler
      # (Ruby 1.8'de, önce "require rubygems" satırı eklenmeli.)
      require 'bluecloth'
      
      # Şimdi artık onu bir kütüphane ya da kendi kodunuz gibi kullanabilirsiniz
      topics = BlueCloth.new <<CHAPTER_DESCRIPTION
      * Arithmetic
      * Logic
      * Basic IO
      * Arrays
      CHAPTER_DESCRIPTION
      
      topics.to_html # => "<ul>\n<li>Arithmetic</li>\n<li>Logic</li>\n<li>Basic IO</li>\n<li>Arrays</li>\n</ul>"
      
      
      # =====  Derlenmiş Dosyalar  =====
      # Bazı gemler derlenmiş dosyalara sahiptir, rubygems düzgün ayarlıysa çalışmasında sorun olmayacaktır
      # BlueCloth örneğin, derlenmiş dosyaya sahip. Kaynak kodunu "bin" klasörü içinde bulabilirsiniz
      # burada bir kullanım örneği bulabilirsiniz
      # $ bluecloth https://github.com/JoshCheek/ruby-kickstart/README.mdown 
    %br



%hr

#disqus_thread
%script(type="text/javascript" async="true" src="http://ruby-tr.disqus.com/embed.js")
  
<noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
<a href="http://disqus.com" class="dsq-brlink">comments powered by <span class="logo-disqus">Disqus</span></a>
