-# coding: UTF-8

%script
  document.title = "Ruby Türkiye - Kickstart - Cheatsheets"

%div.row
  %div.leaderboard
    %h1 Ruby Kickstart Cheatsheets
    %p
      Bu bölümde Josh Cheek'in 
      %a(href="https://github.com/JoshCheek/ruby-kickstart" target="_blank") Ruby-Kickstart
      çalışmasından tercüme ettiğimiz referans belgeleri bulabilirsiniz.

%br

%div.row
  %div.span4
    %h2
      %a.btn.btn-success.btn-large(href="/kickstart_cheatsheets_arrays") Array'ler	
  %div.span4
    %h2
      %a.btn.btn-success.btn-large(href="/kickstart_cheatsheets_erb-embedded_ruby") ERB-Gömülü Kodlar	
  %div.span4
    %h2
      %a.btn.btn-success.btn-large(href="/kickstart_cheatsheets_hashes") Hash Yapıları
%br
%br
%div.row
  %div.span4
    %h2
      %a.btn.btn-success.btn-large(href="/kickstart_logic_and_control") Lojik ve Kontrol
  %div.span4
    %h2
      %a.btn.btn-success.btn-large(href="/kickstart_reflection_introspection") Yansıtma
  %div.span4
    %h2
      %a.btn.btn-success.btn-large(href="/kickstart_cheatsheets_regular_expressions") Düzenli İfadeler
%br
%br
%div.row
  %div.span4
    %h2
      %a.btn.btn-success.btn-large(href="/kickstart_cheatsheets_rubygems") Ruby Gemleri
  %div.span4
    %h2
      %a.btn.btn-success.btn-large(href="/kickstart_cheatsheets") Yansıtma
  %div.span4
    %h2
      %a.btn.btn-success.btn-large(href="/kickstart_cheatsheets") Düzenli İfadeler


%hr

#disqus_thread
%script(type="text/javascript" async="true" src="http://ruby-tr.disqus.com/embed.js")
  
<noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
<a href="http://disqus.com" class="dsq-brlink">comments powered by <span class="logo-disqus">Disqus</span></a>
