-# coding: UTF-8

%div.row
  %div.leaderboard
    %h1 Programlamayı Öğrenmek 
    %h4 Çeviren : Niyazi ATEŞ

%br

%div.row
  %div.span12
    %h3 İçindekiler
    %ul
      %li 
        %a(href="/kitap/102")Önsöz
      %li 
        %a(href="/kitap/103")Başlarken
      %li 
        %a(href="/kitap/104")Sayılar
      %li 
        %a(href="/kitap/105")Harfler
      %li 
        %a(href="/kitap/106")Değişkenler ve Atamalar
      %li 
        %a(href="/kitap/107")Genel Tekrar
      %li 
        %a(href="/kitap/108")Metotlar
      %li 
        %a(href="/kitap/109")Akış Kontrol
      %li 
        %a(href="/kitap/110")Diziler ve Tekrarlayıcılar
      %li 
        %a(href="/kitap/111")Kendi Metotlarımızı Yazalım
      %li 
        %a(href="/kitap/112")Sınıflar (Classes)
      %li 
        %a(href="/kitap/113")Bloklar ve Procs
      %li 
        %a(href="/kitap/114")Bu Derslerden Sonrası…
       
     
    %br
    
    %h3
      %a.btn.btn-success.btn-large.pull-right(href="/kitap/102") Önsöz >