-# coding: UTF-8


%img(src="tibet2.jpg" id="resim")
%img(src="puan.png" class="puan")

%script(src="/assets/js/jquery.js")
%script(src="/assets/js/at_intervals.js")

%script(src="/assets/js/tibet.js")

deneme