-# coding: UTF-8
!!!  
%html  
  %head  
    %title Tibet Göz Kartı -  Ruby Türkiye
    %meta{:"http-equiv" => "Content-Type", :content => "text/html; charset=utf-8" } 
    %meta(name="description" content="Tibetan Eye Chart Exercise")
    %style
      *.center {text-align: center}
      p { margin: 30px; font-size: 150%}
      *.start {margin-left:35%; width:30%;}
  %body
    %h1.center.tr Tibet Göz Egzersiz Kartı
    %h1.center.en Tibetan Eye Chart
    %a.tr(href="#") English
    %p.en
      Tibetan eye chart exercises can help you to correct visual weakness. 
      You should do these simple exercises two time per day.
    %p.tr
      Tibet göz kartı egzersizleri gözlerdeki bozulmaların önüne geçmek için günde iki kere 
      yapılması gereken bir basit antremandır. 
    %p.en
      Before you start, sit down across screen , spine straight. 
      With the palm of each hand cup both closed eyes to relax them for 30 
      seconds. To be sure that you are doing it right way open your eyes under 
      hands and check if there is any light leakage. After that click the "start" 
      button below. Follow the moving big dot with your eyes. Do not 
      move the head side to side. Move only the eyes. At the end of exercise 
      screen will be blank, after finish exercise again close your eyes for 30 
      seconds like before you start.
    %p.tr
      Başlamadan önce ekranın karşısında dik bir şekilde oturun ve iki elinizin 
      avuç içleri ile gözlerinizi baskı yapmadan ve ışık almayacak şekilde kapatın. 
      Hareketi doğru yaptığınızı test etmek için acuçlarınızla kapalıyken gözlerinizi 
      açın ve ışık sızmadığından emin olun. Bu şekilde kapalı vaziyette 30 saniye 
      bekledikten sonra gözlerinizi açın ve aşağıdaki başlat düğmesini tıklayın. 
      Tıklama sonrasında hareket eden beneği gözlerinizle takip edin. Takip 
      esnasında başınızı çevirmeden sadece gözlerinizi kullanın. Hareketler bittikten 
      sonra ekran boşalacaktır bu esnada tekrar başlangıçta yaptığınız gibi 
      30 saniye gözlerinizi avuçlarınızla kapatarak karanlık uygulayın. Artık daha 
      sağlıklı gözlerle yaşamınıza geri dönün.
      
    %button.start.tr BAŞLA
    %button.start.en START
    %img(src="tibet2.jpg" id="resim")
    %img(src="puan.png" class="puan")
    
    %script(src="/assets/js/jquery.js")
    %script(src="/assets/js/at_intervals.js")
    
    %script(src="/assets/js/tibet.js")
